.loadingContainer {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, rgba(255,0,14,0.20772058823529416) 0%, rgba(255,231,134,1) 69%);
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #343434;
    padding: 270px;
    border-radius: 20px;
}

.loadingContainer h1 {
    font-size: 100px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
    background: url('../../images/notfound.jpg') center repeat;
    background-size:200px;
    -webkit-text-fill-color: transparent;
    background-clip: border-box;
    -webkit-background-clip: text;
}
